{% extends "base.html" %}
{% block title %}   Home    {% endblock %}
{% block content %}


<h1 class="text-center">GCECT EXAMINATION MANAGEMENT SYSTEM</h1>
<div class="conatiner mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <a href="/admin/login"><button class="btn btn-primary"> Admin Login</button></a>
            <a href="/teacher/login"><button class="btn btn-primary"> Teacher Login</button></a>
            <a href="/student/login"><button class="btn btn-primary"> Student Login</button></a>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}